<h3>Update Deal</h3>

<div class="form-group">
    <div class="form-group pt-3">
        <label for="Name">Tên Deal</label>
        <input class="form-control" placeholder="Nhập tên Deal...." @bind-value="@Deal.Name"></input>
    </div>
    <div class="form-group pt-3">
        <label for="Name">Mô tả Deal</label>
        <textarea class="form-control pt-1" rows="5" placeholder="Nhập mô tả Deal...." @bind="@Deal.Description"></textarea>
    </div>
    <div class="form-group float-end pt-3">
        <button type="button" @onclick="@OnSubmit" class="btn btn-primary pt-1">Cập nhật</button>
    </div>
</div>
