<h3>Chi tiết Deal</h3>

<RadzenTabs Change=@OnChange TabPosition="@TabPosition.Top" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="Deals">
            <div class="form-group">
                <div class="form-group">
                    <button class="btn bg-light rounded-pill border">Mở hợp đồng</button>
                    <span class="align-center text-center"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <button class="btn bg-light rounded-pill border">Lấy yêu cầu</button>
                    <span class="align-center text-center"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <button class="btn bg-light rounded-pill border">Báo giá</button>
                    <span class="align-center text-center"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <button class="btn btn-primary rounded-pill text-light border">Tư vấn</button>
                    <span class="align-center text-center"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <button class="btn bg-light rounded-pill border">Đóng hợp đồng</button>
                </div>
                <div class="form-group pt-3 row">
                        <label for="Name">Tên Deal</label>
                        <input class="form-control" placeholder="Tên Deal hiển thị" disabled />
                </div>
                <div class="form-group pt-3 row">
                    <label for="Name">Nội dung yêu cầu</label>
                    <textarea rows="5" class="form-control" placeholder="Nội dung yêu cầu của Deal" disabled />
                </div>
                <div class="form-group pt-3 row">
                        <label for="Date">Thời gian cần</label>
                        <input class="form-control" type="date" @bind="@Date" disabled />
                </div>
                <div class="form-group pt-3 row">
                        <label for="Price">Khả năng ngân sách</label>
                        <input class="form-control" type="number" disabled />
                </div>
                <div class="form-group">
                    <div class="mb-2">
                        <label>Báo giá</label>
                        <button class="float-right btn btn-primary">Thêm báo giá</button>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tên Sản phẩm / tính năng</th>
                                    <th>Đơn giá</th>
                                    <th>Thuế</th>
                                    <th>Tổng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Hoạt động">
            <div class="form-group">
                <div class="mb-2">
                    <label>Danh sách hoạt động</label>
                    <button class="float-end btn btn-primary">Thêm hoạt động</button>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên hoạt động</th>
                                <th>Kiểu</th>
                                <th>Thời gian</th>
                                <th>Chức năng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </RadzenTabsItem>
        @*<RadzenTabsItem Text="Lịch sử deal">
            Đây là nội dung lịch sử deal
        </RadzenTabsItem>*@
    </Tabs>
</RadzenTabs>
