@page "/components"
@using VSoft.Company.UI.DEA.Deal.View.Share.Components;
<div class="row">
    <h3>TestComponents</h3>
    <div class="col-2">
        <DealTagView DealTag="@DealTagDvo"></DealTagView>
    </div>
</div>

