<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UI Test</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tableCustomer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Table Customer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createCustomer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create Customer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="updateCustomer/1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Update Customer
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
