@page "/"
<PageTitle>GIẢI PHÁP CÔNG NGHỆ </PageTitle>

<div id="homeHeader"> 

</div>

<div id="HomeBody" style=" background-color:beige ">
	<div class="row" >
		LaLi cung cấp, phát triển phần mềm và tư vấn giải pháp quản lý qui trình và nghiệp vụ chuyên môn cho một số lĩnh vực ngành nghề kinh doanh của doanh nghiệp. Tiêu chí của LiLa là: Hiệu quả, hợp lí, nhanh chóng và tiết kiệm. LiLa không ngừng cải tiến và phát triển các sản phẩm phần mềm hiệu quả, thông minh và ổn định cho nhiều khách hàng ở nhiều lĩnh vực ngành nghề trong tương lai.
	</div>
	<div class="row-cols-lg-1" style="background-color: grey">

	</div>
	<div class="row">

		<div class="col-3 border-1 rounded" style="padding-block">
			<a href="createDeal/1" >
				<div class="card-img position-relative">
					<label>OPEN DEAL</label>
				</div>
				<div class="position-relative">
					<img src="Images/OpenDeal.png" width="90%" height="90%" />
				</div>
			</a>
		</div>

		<div class="col-1"></div>

		<div class="col-3 border-1 rounded">
			<a href="tableDeal">
				<div class="card-img position-relative">
					<label>LẤY NHU CẦU</label>
				</div>
				<div class="position-relative">
					<img src="Images/LayNhuCau512.png" width="100%" height="100%" />
				</div>
			</a>
		</div>

		<div class="col-1"></div>

		<div class="col-3 border-1 rounded">
			<a href="tableDeal">
				<div class="card-img position-relative">
					<label>BÁO GIÁ</label>
				</div>
				<div class="position-relative">
					<img src="Images/BaoGia_256.png" width="90%" height="90%" />
				</div>
			</a>
		</div>

	</div>

	<div class="row">
		<div class="col-3 border-1 rounded" style="padding-block">
			<a href="tableDeal">
				<div class="card-img position-relative">
					<label>TƯ VẤN</label>
				</div>
				<div class="position-relative">
					<img src="Images/TuVan_256.png" width="100%" height="100%" />
				</div>
			</a>
		</div>

		<div class="col-1"></div>

		<div class="col-3 border-1 rounded" style="padding-block">
			<a href="tableDeal">
				<div class="card-img position-relative">
					<label>END DEAL</label>
				</div>
				<div class="position-relative">
					<img src="Images/KetThucDeal.png" width="100%" height="100%" />
				</div>
			</a>
		</div>

	</div>

</div>

<div  id ="homeFooder" class="row" style="padding-bottom:initial">
	
	
</div>


