@using VegunSoft.Framework.Display.ExtensionMethods.String;
@using VegunSoft.Framework.Ui.Component.Popups;
@using VegunSoft.Framework.Ui.Component.Searchs;
@using VegunSoft.Framework.Ui.Component.Pagination;
@using VegunSoft.Framework.Ui.Component.Indicatiors;

<h3>Table ProductCategory</h3>
@if (ProductCategorys == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <KeywordSearch OnSearch="OnSearch"></KeywordSearch>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ProductCategorys == null || ProductCategorys.Count == 0)
                {
                    <tr class="text-center">Chưa có dữ liệu</tr>
                }
                else
                {
                    foreach (var item in ProductCategorys)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a href="@GetUpdatePath(item.Id.ToString())" class="btn btn-warning" disabled>Edit</a>
                                <button class="btn btn-danger" @onclick="()=> OnDeleteTask(item.Id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="OnPageSelect"></Pagination>
            </tfoot>
        </table>
    </div>

    <Confirmation ConfirmationMessage="Xác nhận xóa?"
              ConfirmationTitle="Xóa ProductCategory"
              @ref="DeleteConfirmation"
              ConfirmationChanged="OnConfirmDeleteTask">
    </Confirmation>
}