<h3>Tạo báo giá cho KH</h3>

<div class="form-group row p-3">
    <div class="col-6 pt-2">
        <div class="form-group">
            Autocomplete SP
        </div>
        <div class="form-group text-end">
            <button class="btn btn-primary">Thêm Sản phẩm</button>
        </div>
    </div>
    <div class="col-6 pt-2">
        <div class="form-group">
            Select Category
        </div>
        <div class="form-group text-end">
            <button class="btn btn-primary">Thêm Danh mục</button>
        </div>
    </div>
</div>

<div class="form-group border py-3 px-4">
    <h3 class="text-center">Bảng báo giá</h3>
    <div class="form-group">
        <span><i>Ngày tạo:</i></span>
        <span class="float-end"><i>Người tạo:</i></span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Mã SP</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Xoá</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="form-group">
        <button class="btn btn-primary">Xuất file</button>
        <button class="btn btn-success">Chuyển sang đơn hàng</button>
        <button class="btn btn-primary float-end">Cập nhật</button>
    </div>
</div>


