<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UI Test</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tableDeal">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Table Deal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createDeal">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create Deal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="updateDeal/1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Update Deal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="components">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dealtagtable">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DealTag Table
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="detailDeal">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Deal Detail
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
