<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Main.UI.WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => IsTeamExpand = !IsTeamExpand">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Team
                @if (IsTeamExpand)
                {
                    <span class="oi oi-minus text-end" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-plus text-end" aria-hidden="true"></span>
                }
            </NavLink>

        </div>
        <div class="nav-item px-3">
            @if (IsTeamExpand)
            {
                <NavLink class="nav-link ms-3" href="createTeam">
                    <span>Tạo Team</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="tableTeam">
                    <span>Danh sách Team</span>
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
