<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Main.UI.WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => IsTeamExpand = !IsTeamExpand">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Team
                @if (IsTeamExpand)
                {
                    <span class="oi oi-minus text-end" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-plus text-end" aria-hidden="true"></span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @if (IsTeamExpand)
            {
                <NavLink class="nav-link ms-3" href="createTeam">
                    <span>Tạo Team</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="tableTeam">
                    <span>Danh sách Team</span>
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => IsActivityExpand = !IsActivityExpand">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Activity
                @if (IsActivityExpand)
                {
                    <span class="oi oi-minus text-end" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-plus text-end" aria-hidden="true"></span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @if (IsActivityExpand)
            {
                <NavLink class="nav-link ms-3" href="createActivity">
                    <span>Tạo Activity</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="tableActivity">
                    <span>Danh sách Activity</span>
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => IsDealExpand = !IsDealExpand">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Deal
                @if (IsDealExpand)
                {
                    <span class="oi oi-minus text-end" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-plus text-end" aria-hidden="true"></span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @if (IsDealExpand)
            {
                <NavLink class="nav-link ms-3" href="createDeal/1">
                    <span>Tạo Deal</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="tableDeal">
                    <span>Danh sách Deal</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="dealtagtable">
                    <span>Deal Tag</span>
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => IsUserExpand = !IsUserExpand">
                <span class="oi oi-list-rich" aria-hidden="true"></span> User
                @if (IsUserExpand)
                {
                    <span class="oi oi-minus text-end" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-plus text-end" aria-hidden="true"></span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @if (IsUserExpand)
            {
                <NavLink class="nav-link ms-3" href="createUser">
                    <span>Tạo User</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="tableUser">
                    <span>Danh sách User</span>
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => IsCustomerExpand = !IsCustomerExpand">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customer
                @if (IsCustomerExpand)
                {
                    <span class="oi oi-minus text-end" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-plus text-end" aria-hidden="true"></span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @if (IsCustomerExpand)
            {
                <NavLink class="nav-link ms-3" href="createCustomer">
                    <span>Tạo Khách hàng</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="tableCustomer">
                    <span>Danh sách Khách hàng</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="createUserCustomer">
                    <span>Gán Khách hàng</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="tableUserCustomer">
                    <span>Danh sách Gán</span>
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => IsProductExpand = !IsProductExpand">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product
                @if (IsProductExpand)
                {
                    <span class="oi oi-minus text-end" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-plus text-end" aria-hidden="true"></span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @if (IsProductExpand)
            {
                <NavLink class="nav-link ms-3" href="createProduct">
                    <span>Tạo Product</span>
                </NavLink>
                <NavLink class="nav-link ms-3" href="tableProduct">
                    <span>Danh sách Product</span>
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
